*{
    margin: 0;
    padding: 0;
}
body{
    background-image: linear-gradient(110deg,#9ee8ec,#17afb7);
    color: black;
    font-family: "poppins",sans-serif;
    min-height: 100vh;
}
header{
    font-size: 1.5rem;
    display: flex;
    height: 20vh;
    justify-content: center;
    align-items: center;

}
form{
    display: flex;
    height: 20vh;
    justify-content: center;
    align-items: center;
}
form input, form button{
    padding: 0.5rem;
    border: none;
    background-color: white;
    font-size: 1.5rem;
}
form button{
    color: #17afb7;
    cursor: pointer;
    transition: all, 0.3sec,ease-in;
}
form button:hover{
    color: white;
    background-color: #17afb7;
}
.Todo-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Todo-list{
    min-width: 30%;
    list-style: none;
       
}
.todo{
    background-color: white;
    margin: 0.5rem; 
    color: black;
    display: flex;
    font-size: 1rem;
    justify-content: space-between;
    align-items: center;
    transition:all 0.5s ease;
}
.todo li {
     flex: 1;
}
.newTodo{
    padding:0.5rem;
}
.trash-btn , .complete-btn{
background-color: rgb(238, 135, 10);
color: white;
border: none;
padding: 1rem;
cursor: pointer;
font-size: 1rem; 
}
.complete-btn{
    background-color: rgb(3, 102, 3);
}

.fa-trash, .fa-check{
    pointer-events: none;
}
.completed{
text-decoration: line-through;
opacity: 0.5;
}
.fall{
    transform: translateY(8rem) rotate(20deg) ;
    opacity: 0;
}
select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
}
.select{
    margin: 1rem;
    position: relative;
    overflow: hidden;
}
select{
    color: #17afb7;
    width: 10rem;
    cursor: pointer;
    padding: 1rem;
}
.select::after{
    content:"\25BC";
    position: absolute;
    background: #17afb7;
    color: white;
    top:0;
right:0;
padding: 1rem;
pointer-events: none;
transition:all 0.3s ease;
}
.select:hover::after{
    background-color: white;
    color: #17afb7;
}
.newTodo{
    overflow-wrap: break-word;
    overflow:auto;

}
@media only screen and (max-width: 640px) {
    header h1 {
        font-size: large;
    }
 form{
    margin-left: 20px;
    margin-right: 20px;  
    display: block;
 }
 .Todo-container{
    margin-left: 10px;
    margin-right: 10px;  
 }
 .Todo-input{
    width: 100%;
    
 }
.Todo-button{
    margin-left: 10px;
}
 .Todo-list{
    width: 100%;
 }
 .select{
    max-width: fit-content;
    margin: 16px 0px 16px auto;
    
 }
 .task-container{
    display: flex;
 }
  }
